{% extends "admin/admin.html" %}
{% block body %}
<div>
    <div class="bg-light m-3 p-3">
    <h3>Contact information</h3>
    <p>Company name: <b>Hitman company limited</b></p>
    <p>Street address: <b>Hitman avenue</b></p>
    <p>Phone number: <b>+254 741674737</b></p>
    <p>City: <b>Nairobi</b></p>
    <button class="btn btn-primary">+ Add new contact</button>
    <button class="btn btn-primary">Change the above contact information</button>
    </div>

    <div class="bg-light m-3 p-3">
    <h3>Social media</h3>
    <p>Facebook: </p>
    <p>Instagram: </p>
    <p>LinkedIn: </p>
    <p>Twitter: </p>
    <button class="btn btn-primary">+ Add account</button>
    <button class="btn btn-primary">Update above social media accounts</button>
    </div>
    
    <div class="bg-light m-3 p-3">
    <h3>Terms, Privacy and cookie policy</h3>
    <button class="btn btn-primary">Update terms and conditions</button>
    <button class="btn btn-primary">Update Privacy policy</button>
    <button class="btn btn-primary">Update cookie policy</button>
    </div>
    
</div>
{% endblock body %}