{% extends "layout.html" %}
{% block body %}
<div style="background-color: white;" class="container mb-5 mt-5 p-5">
  <div>
  <div class="testimonial mt-3 mb-5">
    <div
      class="d-lg-flex justify-content-between align-items-center"
    >
      <div class="d-flex align-items-center mb-3">
        <div class="rotate-img">
          <img style="width: 40px;height: 40px;"
            src="{{ url_for('static', filename = 'imgs/profile_pics/' + user.profile_pic) }}"
            class="img-fluid img-rounded mr-3"
          />
        </div>
        <div>
          <p class="fs-12 mb-1 line-height-xs">
           Author
          </p>
          <p
            class="fs-16 font-weight-600 mb-0 line-height-xs"
          >
          {{ user.username }}
          </p>
        </div>
      </div>
      <ul class="social-media mb-3">
        <li>
          <a href="{{ user.facebook }}">
            <i class="mdi mdi-facebook"></i>
          </a>
        </li>
        <li>
          <a href="{{ user.youtube }}">
            <i class="mdi mdi-youtube"></i>
          </a>
        </li>
        <li>
          <a href="{{ user.twitter }}">
            <i class="mdi mdi-twitter"></i>
          </a>
        </li>
        <li>
          <a href="{{ user.instagram }}">
            <i class="mdi mdi-instagram"></i>
          </a>
        </li>
      </ul>
    </div>
    <p class="fs-12">
      {{ user.bio }}
    </p>
  </div>
</div>
  <h3 class="m-3">Videos by {{ user.username }}({{ videos.total }})</h1>

    <div class="row" data-aos="fade-up">
        <div class="col-lg-9 stretch-card grid-margin">
          <div class="card">
            <div class="card-body">
              {% for video in videos.items %}
              <div class="row">
                <div class="col-sm-4 grid-margin">
                  <div class="position-relative">
                    <div class="rotate-img">
                      <a style="text-decoration: none;" href="{{ url_for('video', id = video.id) }}">
                      <img
                        src="https://www.youtube.com/embed/{{ video.video_url }}"
                        class="img-fluid"
                      />
                      </a>
                    </div>
                    <div class="badge-positioned">
                      <span class="badge badge-danger font-weight-bold"
                        >{{ video.category.categoryname }}</span
                      >
                    </div>
                  </div>
                </div>
                <div class="col-sm-8  grid-margin">
                  <a style="text-decoration: none;" href="{{ url_for('video', id = video.id) }}">
                  <h2 class="mb-2 font-weight-600">
                    {{ video.title }}
                  </h2>
                  </a>
                  <div class="fs-13 mb-2">
                    <span class="mr-2">Video </span>Posted on {{ video.date_posted.strftime('%Y-%m-%d') }}
                  </div>
                  <a style="text-decoration: none;" href="{{ url_for('video', id = video.id) }}">
                  <p class="mb-0">
                    Read more...
                  </p>
                  </a>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    <div class="ml-3">
    {% for page_num in videos.iter_pages(left_edge=1,right_edge=1,left_current=1,right_current=2) %}
    {% if page_num %}
    {% if videos.page == page_num %}
    <a class="btn btn-info mb-4" href="{{url_for('author_videos',username=user.username, page = page_num)}}">{{ page_num
        }}</a>
    {% else %}
    <a class="btn btn-outline-info mb-4" href="{{url_for('author_videos',username=user.username, page = page_num)}}">{{
        page_num }}</a>
    {% endif %}
    {% else %}
    ...
    {% endif %}
    {% endfor %}
  </div>
</div>
{% endblock %}