{% extends "layout.html" %}
{% block body %}
<div style="background-color: white;" class="container mb-5 mt-5 p-5">
    <div>
      <div class="chip">
        <div style="background-image: url('../static/imgs/profile_pics/{{ user.profile_pic }}');" class="chip-img"></div>
        {{ user.username }}
      </div>
      <h1 class="mb-3">Posts by {{ user.username }}({{ articles.total }})</h1>
    </div>

    <div class="row" data-aos="fade-up">
        <div class="col-lg-9 stretch-card grid-margin">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-4 grid-margin">
                  <div class="position-relative">
                    <div class="rotate-img">
                      <img
                        src="{{ url_for('static', filename = 'assets/images/dashboard/home_4.jpg') }}"
                        alt="thumb"
                        class="img-fluid"
                      />
                    </div>
                    <div class="badge-positioned">
                      <span class="badge badge-danger font-weight-bold"
                        >Flash news</span
                      >
                    </div>
                  </div>
                </div>
                <div class="col-sm-8  grid-margin">
                  <h2 class="mb-2 font-weight-600">
                    South Korea’s Moon Jae-in sworn in vowing to address
                    North
                  </h2>
                  <div class="fs-13 mb-2">
                    <span class="mr-2">Photo </span>10 Minutes ago
                  </div>
                  <p class="mb-0">
                    Lorem Ipsum has been the industry's standard dummy
                    text ever since the 1500s, when an
                  </p>
                </div>
              </div>
    
              <div class="row">
                <div class="col-sm-4 grid-margin">
                  <div class="position-relative">
                    <div class="rotate-img">
                      <img
                        src="{{ url_for('static', filename = 'assets/images/dashboard/home_5.jpg') }}"
                        alt="thumb"
                        class="img-fluid"
                      />
                    </div>
                    <div class="badge-positioned">
                      <span class="badge badge-danger font-weight-bold"
                        >Flash news</span
                      >
                    </div>
                  </div>
                </div>
                <div class="col-sm-8  grid-margin">
                  <h2 class="mb-2 font-weight-600">
                    No charges over 2017 Conservative battle bus cases
                  </h2>
                  <div class="fs-13 mb-2">
                    <span class="mr-2">Photo </span>10 Minutes ago
                  </div>
                  <p class="mb-0">
                    Lorem Ipsum has been the industry's standard dummy
                    text ever since the 1500s, when an
                  </p>
                </div>
              </div>
    
              <div class="row">
                <div class="col-sm-4">
                  <div class="position-relative">
                    <div class="rotate-img">
                      <img
                        src="{{ url_for('static', filename = 'assets/images/dashboard/home_6.jpg') }}"
                        alt="thumb"
                        class="img-fluid"
                      />
                    </div>
                    <div class="badge-positioned">
                      <span class="badge badge-danger font-weight-bold"
                        >Flash news</span
                      >
                    </div>
                  </div>
                </div>
                <div class="col-sm-8">
                  <h2 class="mb-2 font-weight-600">
                    Kaine: Trump Jr. may have committed treason
                  </h2>
                  <div class="fs-13 mb-2">
                    <span class="mr-2">Photo </span>10 Minutes ago
                  </div>
                  <p class="mb-0">
                    Lorem Ipsum has been the industry's standard dummy
                    text ever since the 1500s, when an
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    {% for article in articles.items %}
    <a href="{{ url_for('user_posts',username=article.author.username) }}">
        <img style="border-radius: 50%;width: 30px;height: 30px;"
            src="{{ url_for('static',filename='imgs/profile_pics/' + article.author.profile_pic )}}">
        <span>{{ article.author.username }}</span>
    </a>
    <p><small class="text-danger">{{ article.category }}</small></p>
    <h2><a href="{{ url_for('post', id = article.id) }}">{{ article.title }}</a></h2>
    <small class="text-muted">Posted by {{ article.author.username }} on {{ article.date_posted.strftime('%Y-%m-%d')
        }}</small>
    <hr>
    {% endfor %}

    {% for page_num in articles.iter_pages(left_edge=1,right_edge=1,left_current=1,right_current=2) %}
    {% if page_num %}
    {% if articles.page == page_num %}
    <a class="btn btn-info mb-4" href="{{url_for('user_posts',username=user.username, page = page_num)}}">{{ page_num
        }}</a>
    {% else %}
    <a class="btn btn-outline-info mb-4" href="{{url_for('user_posts',username=user.username, page = page_num)}}">{{
        page_num }}</a>
    {% endif %}
    {% else %}
    ...
    {% endif %}
    {% endfor %}
</div>
{% endblock %}