<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> 
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Blog</title>
    {% endif %}
    <style>
      .carousel-inner img {
        width: 100%;
        height: 100%;
      }
      .loader{
        width: 100%;
        height: 100%;
        background-color: rgba(0,0, 0, .5);
        position: fixed;
        z-index: 99;
        top: 0;
        left: 0;
      }
      .spinner-grow{
        position: fixed;
        z-index: 99;
        top: 50%;
        left: 50%;
      }
      .loader-hidden{
        animation: fadeOut 1s;
        animation-fill-mode: forwards;
      }
      @keyframes fadeOut{
        100%{
          opacity: 0;
          visibility: hidden;
        }
      }
      .section-1{
        display: flex;
        width: 100%;
        flex-wrap: wrap;
      }
      .section-1 > div{
        width: 45%;
        height: auto;
        margin: 2.5%;
      }
      .post-image{
        opacity: 1;
      }
      .post-image:hover{
        opacity: .8;
      }
      @media screen and (max-width:800px) {
        .section-1 > div{
          width: 100%;
          height: auto;
        }
      }
      </style>
</head>
<body>
<div>   
        <div style="width: 100%;float: right;" class="mb-1 p-2">
          <a class="text-dark" href="#"><i style="float:right;border-radius: 50%;" class="fa fa-instagram"></i></a>
          <a class="text-dark" href="#"><i style="float:right;border-radius: 50%;" class="fa fa-linkedin"></i></a>
          <a class="text-dark" href="#"><i style="float:right;border-radius: 50%;"  class="fa fa-twitter"></i></a>
          <a class="text-dark" href="#"><i style="float:right;border-radius: 50%;" class="fa fa-facebook"></i></a>
        </div>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
          {% if current_user.is_authenticated %}
          <a class="navbar-brand" href="{{url_for('account')}}">
              <img style="width:40px;border-radius: 50%;" src="{{ url_for('static',filename='imgs/profile_pics/' + current_user.profile_pic )}}" alt="Account">
          </a>
          {% endif %}
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('index') }}">Home <span class="sr-only">(current)</span></a>
              </li>
              {% if current_user.is_authenticated %}
              {% if current_user.admin == True %}
              <li class="nav-item">
                <a class="nav-link" href="{{url_for('admin')}}">Admin panel</a>
              </li>
              {% endif %}
              {% if current_user.post_author == True %}
              <li class="nav-item">
                <a class="nav-link" href="{{url_for('new_post')}}">New Post</a>
              </li>
              {% endif %}
              <li class="nav-item">
              <a class="nav-link" href="{{url_for('logout')}}">Logout</a>
              </li>
             
              {% else %}
              <li class="nav-item">
                <a class="nav-link" href="{{url_for('login')}}">Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{url_for('register')}}">Register</a>
              </li>
              {% endif %}
              <li class="nav-item">
                <a class="nav-link" href="{{url_for('contact')}}">Contact us</a>
              </li>
              
            </ul>
            <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="search" placeholder="Search for articles..." aria-label="Search">
              <button class="btn btn-success my-2 my-sm-0" type="submit"><i class="fa fa-search"></i></button>
            </form>
          </div>
        </nav>
    <div>
    {% with messages = get_flashed_messages(with_categories = true) %}
        {% if messages %}
            {% for category,message in messages %}
                <div class="alert alert-{{category}}">
                    {{message}}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    </div>
    <div class="container-fluid">
      <div class="loader">
        <div class="spinner-grow text-dark"></div>
      </div>
      <br>
        {% block body %}{% endblock %}
    </div>
    <br>
<div class="m-3">
  <p class="text-dark">Follow us:</p>
  <a href="#"><i style="color:darkblue;border-radius: 50%;padding: 10px;background-color: #f1f1f1;" class="fa fa-facebook"></i></a>
  <a class="text-info" href="#"><i style="border-radius: 50%;padding: 10px;background-color: #f1f1f1;" class="fa fa-twitter"></i></a>
  <a href="#"><i style="color:blue;border-radius: 50%;padding: 10px;background-color: #f1f1f1;"  class="fa fa-linkedin"></i></a>
  <a class="text-danger" href="#"><i style="border-radius: 50%;padding: 10px;background-color: #f1f1f1;" class="fa fa-instagram"></i></a>
</div>

<!-- Footer -->
<footer class="page-footer font-small blue pt-4 bg-dark text-light">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <h5 class="text-uppercase">ABOUT US</h5>
        <ul class="list-unstyled">
          <li>Company name</li>
        </ul>
      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Blog</h5>

        <ul class="list-unstyled">
          <li>
            <a href="{{ url_for('index') }}">Blog</a>
          </li>
          {% if current_user.is_authenticated %}
          {% else %}
          <li>
            <a href="{{ url_for('register') }}">Join us today for free!</a>
          </li>
          {% endif %}
          <li>
            <a href="#!">Advertise with us</a>
          </li>
          <li>
            <a href="{{ url_for('contact') }}">Contact us</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Terms & Privacy</h5>

        <ul class="list-unstyled">
          <li>
            <a href="{{ url_for('privacy_policy') }}">Privacy policy</a>
          </li>
          <li>
            <a href="{{ url_for('terms_conditions') }}">Terms and conditions</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright: Blog
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
</div>
<script>
  $(document).ready(function(){
    $('.toast').toast('show');
  });

  window.addEventListener('load', function(){
    const loader = document.querySelector(".loader");
    loader.className += " loader-hidden";
  })
</script>
  

</body>
</html>