{% extends "layout.html" %}
{% block body %}
<div style="background-color: white;" class="container mb-5 mt-5 p-5">
    <form id="postform" method="POST">  
    <legend>Create new post</legend>
    <label for="title">Title</label><br>
    <input type="text"><br>
    <label for="category">Category</label><br>
    <select name="category" id="category">
        <option value="pol">Politics</option>
    </select><br>
    <label for="content">Content</label><br>
    <textarea style="width: 100%;padding: 20px;" id="texteditor"></textarea><br>
    <button type="submit" class="btn btn-primary">Preview</button>
    </form>
    <div id="data-preview-container"></div>
</div>
{% endblock %}