{% extends "layout.html" %}
{% block body %}
<div style="background-color: white;" class="container mb-5 mt-5 p-5">
    <form name="new-post-form" action="" method="POST">
        {{ form.hidden_tag() }}
            <fieldset class="form-group">
               <legend class="border-bottom md-4">{{ legend }}</legend>
               <div class="form-group">
                    {{ form.title.label(class="form-control-label") }}
                    {% if form.title.errors %}
                    {{ form.title(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.title.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                        {{ form.title(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.category.label(class="form-control-label") }}
                    {% if form.category.errors %}
                    {{ form.category(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.category.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                        {{ form.category(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
               
                <div class="form-group">
                    {{ form.cover_picture.label() }}
                    {{ form.cover_picture(class="form-control-file") }}
                    {% if form.cover_picture.errors %}
                    {% for error in form.cover_picture.errors %}
                    <span class="text-danger">{{ error }}</span>
                    <br>
                    {% endfor %}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.pic_desc.label(class="form-control-label") }}
                    {% if form.pic_desc.errors %}
                    {{ form.pic_desc(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.title.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.pic_desc(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
              
                <div class="form-group">
                    {{ form.content.label(class="form-control-label") }}
                    {% if form.content.errors %}
                    {{ form.content(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.content.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                        {{ form.content(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-success") }}
            </div>
    </form>
</div>
{% endblock body %}