{% extends "layout.html" %}
{% block body %}
<div style="background-color: white;" class="container mb-5 mt-5 p-5">
<div>
    <div>
        <h1 class="font-weight-600 mb-1">
          {{ article.title }}
        </h1>
        <p class="fs-13 text-muted mb-0">
          <span class="mr-2">{{ article.category.categoryname }}
        </p>
      </div>
      <div class="post-content-preview">
          {{ article.content | safe }}
      </div>
</div>
<div>
    <a class="btn btn-info" href="{{ url_for('updatepost',id=article.id) }}">Edit post</a>
</div>
</div>

{% endblock body %}