{% extends "layout.html" %}
{% block body %}
<div class="content-wrapper">
  <div class="container">
    <div class="col-sm-12">
      <div class="card" data-aos="fade-up">
        <div class="card-body">
          <div class="row">
            <div class="col-lg-8">
              <div>
                <h1 class="font-weight-600 mb-1">
                  {{ video.title }}
                </h1>
                <p class="fs-13 text-muted mb-0">
                  <span class="mr-2 mt-2 mb-2">
                    <a style="text-decoration: none;" href="{{ url_for('vid_categories',category_id=video.category.id) }}">
                    {{ video.category.categoryname }}
                    </a> 
                  </span>{{ date_posted }}
                </p>
                <div class="mt-3 mb-3">
                <iframe width="500" height="350" src="https://www.youtube.com/embed/{{ video.video_url }}"></iframe> 
                </div>
                <p class="mb-4 mt-3 fs-15">
                  <i style="background-color: #f2f2f2;padding: 10px;">{{ video.video_desc }}</i>
                </p>
              </div>

              {% if video.vid_author == current_user %}
              <div class="mt-5 mb-5">
                  <a class="btn btn-info m-1" href="{{ url_for('updatevid',id=video.id) }}">Update video</a>

                <!-- Trigger/Open The Modal -->
                <button class="btn btn-danger m-1" id="deletePostBtn">Delete video</button>
                <!-- The Modal -->
                <div id="deletePostModal" class="deletePostmodal">

                  <!-- Modal content -->
                  <div class="deletePost-modal-content">
                    <span class="deletePost-close">&times;</span>
                    Are you sure you want to delete this post?
                    <form action="{{ url_for('deletevideo',id=video.id) }}" method="POST">
                      <input class="btn btn-danger mt-3"
                      type="submit" value="Delete">
                    </form>
                  </div>

                </div>
              </div>
          {% endif %}

          <!-- will implement tags later -->

              <!-- <div class="d-lg-flex">
                <span class="fs-16 font-weight-600 mr-2 mb-1"
                  >Tags</span
                >
                {% for tag in tags %}
                <a href="{{ url_for('tags',tagid=tag.id) }}">
                <span class="badge badge-outline-dark mr-2 mb-1"
                  >{{ tag.tagname }}</span
                >
                </a>
                {% endfor %}
              </div> -->
              
            
              <div class="post-comment-section">
                <h3 class="font-weight-600">Related videos</h3>
                <div class="row">
                {% for vid in related_videos %}
                {% if vid.id == video.id %}
                {% else %}
                  <div class="col-sm-6">
                    <div class="post-author">
                      <div class="rotate-img">
                      <a href="{{ url_for('video',id=vid.id) }}">
                        <img
                          src="https://img.youtube.com/vi/{{ vid.video_url }}/hqdefault.jpg"
                          class="img-fluid"
                        />
                      </a>
                      </div>
                      <div class="post-author-content">
                        <a style="text-decoration:none;" href="{{ url_for('video',id=vid.id) }}">
                        <h5 class="mb-1">
                          {{ vid.title }}
                        </h5>
                        </a>
                        <p class="fs-13 text-muted mb-0">
                          <span class="mr-2">Video </span>{{ vid.date_posted.strftime('%d-%m-%Y') }}
                        </p>
                      </div>
                    </div>
                  </div>
                {% endif %}
                {% endfor %}
                </div>

                <div class="testimonial mt-5">
                  <div
                    class="d-lg-flex justify-content-between align-items-center"
                  >
                    <div class="d-flex align-items-center mb-3">
                      <div class="rotate-img">
                        <a style="text-decoration: none;" href="{{ url_for('author_videos',username=video.vid_author.username) }}">
                        <img style="width: 40px;height: 40px;"
                          src="{{ url_for('static', filename = 'imgs/profile_pics/' + video.vid_author.profile_pic) }}"
                          class="img-fluid img-rounded mr-3"
                        />
                      </a>
                      </div>
                      <div>
                        <p class="fs-12 mb-1 line-height-xs">
                         Author
                        </p>
                        <a style="text-decoration: none;" href="{{ url_for('author_videos',username=video.vid_author.username) }}">
                        <p
                          class="fs-16 font-weight-600 mb-0 line-height-xs"
                        >
                        {{ video.vid_author.username }}
                        </p>
                        </a>
                      </div>
                    </div>
                    <ul class="social-media mb-3">
                      <li>
                        <a style="text-decoration: none;" href="{{ video.vid_author.facebook }}">
                          <i class="mdi mdi-facebook"></i>
                        </a>
                      </li>
                      <li>
                        <a style="text-decoration: none;" href="{{ video.vid_author.youtube }}">
                          <i class="mdi mdi-youtube"></i>
                        </a>
                      </li>
                      <li>
                        <a style="text-decoration: none;" href="{{ video.vid_author.twitter }}">
                          <i class="mdi mdi-twitter"></i>
                        </a>
                      </li>
                      <li>
                        <a style="text-decoration: none;" href="{{ video.vid_author.instagram }}">
                          <i class="mdi mdi-instagram"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                  <p class="fs-12">
                    {{ video.vid_author.bio }}
                  </p>
                </div>
                <div class="mb-3 mt-3">
                  <h4>Share video</h4>
                  <div>
                    <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a>
                    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script><br>
                  </div>                  
                 
                </div>
                <div class="comment-section">
                  <h5 class="font-weight-600">Comments</h5>
                  <form class="mt-3" action="" method="POST">
                    {{ form.hidden_tag() }}
                    <fieldset class="form-group">
                    <div class="form-group">
                      {% if current_user.is_authenticated %}
                      {% if form.comments.errors %}
                      {{ form.comments(class="form-control form-control-lg is-invalid") }}
                      <div class="invalid-feedback">
                          {% for error in form.comments.errors %}
                              <span>{{ error }}</span>
                          {% endfor %}
                      </div>
                      {% else %}
                          {{ form.comments(class="form-control form-control-lg") }}
                      {% endif %}
                      </div>
                  </fieldset>
                  <div class="form-group">
                      {{ form.submit(class="btn btn-success") }}
                  </div>
                  </form>
                  {% else %}
                    <p class="text-danger">You must login to post your comment.</p>
                  {% endif %}
                  {% for comment in comments %}
                  <div class="comment-box">
                    <div class="d-flex align-items-center">
                      <div class="rotate-img">
                        <img
                          src="{{ url_for('static', filename = 'imgs/profile_pics/' + comment.its_writer.profile_pic ) }}"
                          class="img-fluid img-rounded mr-3"
                        />
                      </div>
                      <div>
                        <p class="fs-12 mb-1 line-height-xs">
                         {{ comment.date_written.strftime('%d-%m-%Y')  }} 
                        </p>
                        <p
                          class="fs-16 font-weight-600 mb-0 line-height-xs"
                        >
                        {{ comment.its_writer.username }}
                        </p>
                      </div>
                    </div>

                    <p class="fs-12 mt-3">
                      {{ comment.comment }}
                    </p>
                    {% if current_user.is_authenticated %}
                    {% if current_user == comment.its_writer %}
                    <div>
                    <a class="btn btn-info mb-1" href="{{ url_for('updatevidcomment',commentid=comment.id,videoid=video.id) }}">Edit</a>
                    <form action="{{ url_for('deletevidcomment',commentid=comment.id,videoid=video.id) }}" method="POST">
                        <button class="btn btn-danger" type="submit">Delete</button>
                    </form>
                    </div>
                    {% endif %}
                    {% endif %}                   
                  </div>
                  {% endfor %}
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <h2 class="mb-4 text-primary font-weight-600">
                Latest news
              </h2>
              {% for v in latest_vid %}
              <div class="row">
                <div class="col-sm-12">
                  <div class="border-bottom pb-4 pt-4">
                    <div class="row">
                      <div class="col-sm-8">
                        <a style="text-decoration: none;" href="{{ url_for('video',id=v.id) }}">
                        <h5 class="font-weight-600 mb-1">
                          {{ v.title }}
                        </h5>
                        </a>
                        <p class="fs-13 text-muted mb-0">
                          <span class="mr-2">Video </span>{{ v.date_posted.strftime('%d-%m-%Y')  }}
                        </p>
                      </div>
                      <div class="col-sm-4">
                        <a style="text-decoration: none;" href="{{ url_for('video',id=v.id) }}">
                        <div class="rotate-img">
                          <img
                            src="https://img.youtube.com/vi/{{ v.video_url }}/hqdefault.jpg"
                            class="img-fluid"
                          />
                        </div>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}
              <div class="trending">
                <h2 class="mb-4 text-primary font-weight-600">
                  Trending
                </h2>
                {% for vd in trending_vid %}
                <div class="mb-4">
                  <a style="text-decoration: none;" href="{{ url_for('video',id=vd.id) }}">
                  <div class="rotate-img">
                    <img
                      src="https://img.youtube.com/vi/{{ vd.video_url }}/hqdefault.jpg"
                      class="img-fluid"
                    />
                  </div>
                  </a>
                  <a style="text-decoration: none;" href="{{ url_for('video',id=vd.id) }}">
                  <h3 class="mt-3 font-weight-600">
                    {{ vd.title }}
                  </h3>
                  </a>
                  <p class="fs-13 text-muted mb-0">
                    <span class="mr-2">Video </span>{{ vd.date_posted.strftime('%d-%m-%Y')  }}
                  </p>
                </div>
                {% endfor %}
              </div>
            </div>  
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock body %}